/* Margin u úzké verze, vystředit kolečko */

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Nastavení kontejneru na stránkach index a pravidla */
.container {
  max-width: 45%;
  min-width: 290px;
  margin: 20px auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

/* Zúžení kontejneru na úvodní stránce */

.index-page {
  max-width: 380px;
}

.description {
  padding: 30px;
}

.description-heading {
  font-family: 'Lobster';
  font-size: 2.5em;
}

.container .image {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

/* Nastavení odkazů na jiné stránky */
.links a {
  color: white;
  text-decoration: none;
}

.link {
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.link-rules,
.link-home {
  background-color: #1fcca4;
  margin-bottom: 2px;
}

.link-rules:hover,
.link-rules:focus,
.link-home:hover,
.link-home:focus {
  background-color: #1cbb96;
}

.link-start {
  background-color: #0197f6;
}

.link-start:hover,
.link-start:focus {
  background-color: #0090e9;
}

/* Seznam pravidel na stránce pravidla.html */
.list li {
  text-align: left;
  padding: 10px 15px;
  line-height: 1;
}

.examples img {
  width: 100%;
}

figure {
  margin: 20px auto;
}

/* Nastavení obrázků křížek a kolečko (změna barvy pomocí filtru) */
.circle,
.cross {
  margin: 0 2px;
  width: 1rem;
  height: 1rem;
}

.white {
  filter: invert(100%);
}

/* Stránka pravidla - ukázky - figure */
figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  line-height: 1;
}

/* Stránka hra */

/* Hlavní kontejner */
.game-container {
  max-width: 80vmin;
  min-width: 290px;
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
}

/* Část "hraje" + odkazy domů a replay */
.game-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 2em;
}

/* Hraje... */
.player {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
}

.player img {
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  margin-left: 5px;
}

/* Odkazy domů a hrát znovu */
.btn-container {
  display: flex;
}

.home-btn-container {
  width: 2em;
  height: 2em;
  padding: 7px;
  background-color: #1fcca4;
  border-radius: 3px;
  margin-right: 5px;
}

.home-btn-container:hover,
.home-btn-container:focus {
  background-color: #1cbb96;
}

.game-btn-container {
  width: 2em;
  height: 2em;
  padding: 7px;
  background-color: #0197f6;
  border-radius: 3px;
}

.game-btn-container:hover,
.game-btn-container:focus {
  background-color: #0090e9;
}

/* Čtvercový kontejner pro buttony */
.game {
  position: relative;
  width: 100%;
}

.game::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.gamein {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Nastavení jednotlivých buttonů */
.square {
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  border: 1px solid black;
}

.square:hover,
.square:focus {
  opacity: 0.7;
  cursor: pointer;
}

/* Úkol 4 */

/* Křížky a kolečka v buttonu */
.square-cross {
  background-image: url(cross.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  animation: effect 0.15s ease-in-out;
}

.square-circle {
  background-image: url(circle.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  animation: effect 0.15s ease-in-out;
}

.square-cross[disabled],
.square-circle[disabled] {
  opacity: 0.8;
}

@keyframes effect {
  0% {
    background-size: 0;
  }
  100% {
    background-size: 60%;
  }
}

/* Media query pro stránku pravidla - figure */
@media screen and (min-width: 800px) {
  .examples {
    display: flex;
    flex-wrap: wrap;
  }
  .examples figure {
    width: calc((100% - 60px) / 2);
  }
}
