* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 45%;
  min-width: 400px;
  margin: 100px auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.game-container {
  max-width: 80vw;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
}

.description {
  padding: 30px;
}

.description-heading {
  font-family: 'Lobster';
  font-size: 2.5em;
}

.container .image {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.links a {
  color: white;
  text-decoration: none;
}

.link {
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.link-rules,
.link-home {
  background-color: #1fcca4;
  margin-bottom: 2px;
}

.link-rules:hover,
.link-home:hover {
  background-color: #1cbb96;
}

.link-start {
  background-color: #0197f6;
}

.link-start:hover {
  background-color: #0090e9;
}

.list li {
  text-align: left;
  padding: 10px 15px;
  line-height: 1;
}

.examples img {
  width: 100%;
}

figure {
  margin: 20px auto;
}

.circle,
.cross {
  margin: 0 2px;
  width: 1rem;
  height: 1rem;
}

.white {
  filter: invert(100%);
}

figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  line-height: 1;
}

/* Stránka home */

.btn-container {
  display: flex;
}

.home-btn-container {
  width: 2em;
  height: 2em;
  padding: 7px;
  background-color: #1fcca4;
  border-radius: 3px;
  margin-right: 5px;
}

.home-btn-container:hover {
  background-color: #1cbb96;
}

.game-btn-container {
  width: 2em;
  height: 2em;
  padding: 7px;
  background-color: #0197f6;
  border-radius: 3px;
}

.game-btn-container:hover {
  background-color: #0090e9;
}

@media screen and (min-width: 800px) {
  .examples {
    display: flex;
    flex-wrap: wrap;
  }
  .examples figure {
    width: calc((100% - 60px) / 2);
  }
}
